/* common css section start  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 1170px;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
/* common css section end  */
/* nav css section start  */
nav{
    background-color: #ffece1;
    box-shadow: 0px 1px 5px 4px rgba(146, 127, 116, 0.21);
    z-index: 999;
    position: relative;
}
nav .row{
    align-items: center;
    flex-wrap: wrap;
}
nav .logo{
    width: 10%;
}
nav .menu{
    width: 65%;
}
nav .shop_cart{
    width: 25%;
}
nav .menu ul{
    display: flex;
    justify-content: center;
}
nav .menu ul li a{
    display: inline-block;
    color: #649483;
    font-size: 19px;
    text-transform: capitalize;
    padding: 52px 21px;
    transition: 0.5s;
}
nav .menu ul li a:hover{
    color: #dd7017;
}
nav .shop_cart ul{
    display: flex;
}
nav .shop_cart ul li a{
    padding: 9px;
    color: #649483;
    font-size: 19px;
    font-weight: 700;
    text-transform: capitalize;
}
nav .shop_cart ul li a i{
    font-size: 25px;
}
nav .shop_cart ul li .menu_btn{
    background-color: #649483;
    padding: 11px 9px;
    color: #ffece1;
    border-radius: 10px;
    transition: 0.5s;
}
nav .shop_cart ul li:hover .menu_btn{
    background-color: #dd7017;
}
/* nav css section end  */
/* Banner css section start  */
#banner{
    background: #ffebe1;
    position: relative;
}
#banner img .shape{
    position: absolute;
}
#banner img .shape1{
    top: 0;
    left: 0;
}
#banner img .shape2{
    right: 0;
    bottom: 0;
}
#banner .banner_img{
    width: 50%;
}
#banner .banner_content{
    width: 50%;
}
#banner .banner_img img{
    padding-top: 145px;
    width: 100%;
    margin-left: -95px;
}
#banner .banner_img h4{
    margin-top: -55px;
    font-size: 19px;
    font-weight: 700;
    text-transform: uppercase;
    color: #649483;
    line-height: 2;
}
#banner .banner_img p{
    font-size: 16px;
    color: #649483;
    text-transform: capitalize;
    width: 360px;
    /* margin: auto; */
    text-align: center;
}
#banner .container .banner_content h2{
   padding-top: 235px;
   font-size: 100px;
   font-weight: 700;
   text-transform: capitalize;
   color: #dd6f17; 
}
#banner .container .banner_content a{
    display: inline-block;
    text-transform: uppercase;
    color: #fff4ee;
    font-weight: 700;
    border: 4px solid #649483;
    background-color: #639383;
    padding: 16px;
    margin-right: 18px;
    border-radius: 15px;
    transition: 0.5s;
}
#banner .container .banner_content a:hover{
    background-color: #ffebe1;
    color: #639383;
}
#banner .container .meal_option{
    margin-top: 74px;
    display: flex;
    flex-wrap: wrap;
    background-color: #dd6f17;
    padding: 19px 21px;
    margin-bottom: 140px;
}
#banner .container .meal_option .meal_iteam{
    width: 25%;
}
#banner .container .meal_option .meal_iteam p{
     font-size: 12px;
     font-weight: 400;
     text-transform: capitalize;
     color: #ffece1;
     text-align: center;
}
/* Banner css section end  */